body{
    
    background: rgb(227, 243, 220);
    background-image:url("https://images7.alphacoders.com/137/thumb-1920-1374426.png");
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
img{
    width: 200px;
    height: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px auto;
}
.resultado{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border:2px solid black;
    border-radius: 470px;
    box-shadow: 0 14px 20px rgb(255, 255, 255);
    background-color:rgb(250, 250, 250);
    padding:10px;
    width:1300px;
    height: 30;
    margin:0 auto;
    opacity: 0.5;
    }
    .botao{display:flex;
    align-items: center;
    justify-content:center;
    margin:20px auto 0 auto;
    border:2px solid black;
    border-radius: 170px;
    box-shadow: 0 14px 20px rgb(250, 250, 250);
    background-color:rgb(255, 255, 255);
    padding: 5px;
    width: 1200px;
    }

    input{
        border-radius:38px;
        border: 2px solid redvelvet;
        box-shadow:0 50px 50px rgb(255, 255, 255);
        font-size: 25px;
    }
  
    .IMG1 {
        width: 100px;
    
    }
    .cabra{
        width:100px ;
    }

